<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MQTTDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A1D96181E1B4295009CC83A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1D96311E1B4295009CC83A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1D963C1E1B4295009CC83A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
